* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
}

body {
    background-color: #e6ffe6;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: #e6ffe6;
}

a:not([href]):not([tabindex]):hover {
    color: #A3FF15;
}

p {
    margin-bottom: 0;
}

.br {
    display: block;
}

.home {
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color: #033949;
    border-radius: 50%;
    color: #e6ffe6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---container logo--- */

.cont_logo {
    height: 260px;
    width: 260px;
    margin: auto;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 5%;
}

.index-header {
    margin-top: 19%;
}

.arrow {
    height: 10%;
    display: flex;
    align-items: center;
}

h1,
h2 {
    font-size: 60px;
    font-weight: bold;
    color: #A3FF15;
    text-shadow: 2px 2px #033949;
    margin-left: 15%;
    margin-bottom: 0;
}

h2 {
    margin-left: 35%;
}

.page_title {
    font-size: 70px;
    font-weight: bold;
    color: #033949;
    text-shadow: none;
}

.page {
    font-weight: bold;
    color: #033949;
    text-shadow: none;
}

.page_sub-title {
    font-size: 40px;
    font-weight: bold;
    color: #033949;
    text-shadow: none;
}

.cont90vh {
    height: 93vh;
}

/* ---^--GLOBAL--^--- */

/* ---INDEX.HTML--- */

.btn_background {
    background-color: #033949;
    color: #A3FF15;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

.padd_8 {
    padding: 18px;
    width: 35%;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

.chose_index {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chose_sign {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---NAVIGATION--- */

.navigation {
    height: 10%;
    width: 100%;
    background-color: #033949;
    position: fixed;
    bottom: 0;
}

.fa-arrow-alt-circle-left {
    font-size: 50px;
    color: #033949;
}

.icon {
    font-size: 40px;
    color: #e6ffe6;
}

.disp-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav {
    background-color: #033949;
    height: 10%;
    display: flex;
}

.icons {
    display: flex;
    justify-content: space-around;
}

/* ---LOG IN--- */

.column {
    display: flex;
    flex-direction: column;
}

.input_size {
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

.log {
    display: flex;
}

.sign {
    display: flex;
}

.log_blok {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log_blok_reg {
    height: 62vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_reg {
    height: 55vh;
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.padd {
    padding: 30px 50px;
    border-radius: 20px;
    flex-grow: 1;
    text-align: center;
    margin: 10px 15px 0;
}

.btn_size {
    height: 30px;
    width: 100px;
    background-color: #033949;
    border-radius: 20px;
    color: #A3FF15;
    font-size: 20px;
}

.fa-arrow-alt-circle-left:before {
    margin-top: 10px;
    display: inline-block;
}

.label_text {
    font-size: 20px;
    color: #033949;
}

/* ----Chat---- */

.textarea {
    display: flex;
    justify-content: center;
    height: 68vh;
}

.chat {
    height: 75%;
}

.chat_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chat_input {
    height: 10%;
}

.box {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
}

.post_scroll {
    overflow-y: scroll;
    height: 70%;
}

#posts div {
    width: 80%;
    margin-bottom: 10px;
    /* background-color: ;  */
    color: #033949;
    overflow-wrap: break-word;
    margin-left: 20px;
}

#posts {
    scroll-behavior: smooth;
    height: 65vh;
    overflow-y: scroll;
}

.inputs {
    margin-top: 15px;
}

/* ---NEWS--- */

.news {
    width: 90%;
    height: 65vh;
    overflow-y: scroll;
}

.card {
    border: none;
}

.card-body {
    padding: 0;
}

.post {
    width: 90%;
}

.btn-primary {
    color: #A3FF15;
    background-color: #033958;
    height: 36px;
}

.btn-primary:hover {
    color: #A3FF15;
    background-color: #033958;
    height: 36px;
}

/* ---TEAMS--- */

.teams {
    height: 78%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #033949;
    border-radius: 10px;
}

.card-body {
    background-color: #e6ffe6;
}

.btn-link {
    color: #A3FF15;
}

/* ---SCHEDULE--- */

.scroller {
    overflow-y: scroll;
    height: 500px;
}

.schedule {
    margin-left: 5%;
}

.team {
    height: 160px;
    width: 160px;
}

.team_logo {
    max-width: 100%;
    max-height: 100%;
}

.A3FF15 {
    color: #A3FF15;
}

.slot {
    border: 1px solid;
    border-color: #033949;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* ---LOCATIONS--- */

.location {
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/* ---INFO--- */

.about_us {
    margin-left: auto;
}

.info {
    height: 53vh;
    width: 85%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scroll {
    height: 20vh;
    overflow-y: scroll;
}

.acordion_players {
    height: 23vh;
    overflow-y: scroll;
}

.marginT_20 {
    margin-top: 20px;
}

/* ---------------------------------------------------------- */

@media only screen and (orientation: landscape) {

    /* --GLOBAL-- */

    .arrow {
        height: 10%;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .cont84vh_landscape {
        height: 81vh;
    }

    /* --INDEX-- */
    .index-header {
        margin: 0;
    }
    .index {
        display: flex;
        flex-wrap: wrap;
    }

    .chose_index {
        height: 300px;
        display: flex;
    }
    .disp-flex {
        height: 100%;
        flex-direction: column;
    }

    .padd_8 {
        padding: 18px;
        width: 70%;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
    }

    /* --NEWS-- */

    .news {
        width: 90%;
        height: 50vh;
        overflow-y: scroll;
    }

    /* --TEAMS-- */

    .row_landscape {
        display: flex;
        flex-direction: column;
        width: 75%;
        justify-content: space-between;
        height: 78%;
    }

    .team {
        height: 90px;
        width: 90px;
    }

    .a_team_landscape {
        height: 90%;
    }

    .team_container_landscape {
        height: 40%;
        display: flex;
    }

    /* --A_TEAM-- */

    
    
    /* --SCHEDULE-- */

    .scroller {
        overflow-y: scroll;
        height: 136px;
    }

    .slot {
        display: flex;
        flex-direction: inherit;
    }

    .location {
        height: 61%;
    }

    /* --INFO-- */
    .info {
        height: 53vh;
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: inherit;
    }

    /* --LOG IN-- */

    .log_blok {
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login {
        height: 25vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .submit {
        display: flex;
        align-items: center;
    }

    .btn_size {
        height: 30px;
        width: 100px;
        background-color: #033949;
        border-radius: 20px;
        color: #A3FF15;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    /* --CHAT-- */

    .post_scroll {
        overflow-y: scroll;
        height: 45%;
    }

    .inputs {
        margin-top: 15px;
        display: flex;
    }

    .input_size {
        width: 100%;
        height: 30px;
        border-radius: 10px;
    }

}
